%h1 WiKi Articles
%hr
#articles
  - @articles.each do |article|
    %article
      %h3= link_to article.title, article
      %small= "Published on: #{article.created_at.strftime("%A %B %e")}"
      %p= truncate(article.content, :length => 160)
